.App {
  text-align: center;
}

.Workflow{
  display: flex;
  align-items: center;
  justify-content: center;
}
.drag-zone{
  display: flex;
  justify-content: center;
}

.container{
  border: 1px solid black;
  width: 100px;
}

.WorkflowEditor {
  border: 2px solid black;
  height: 200px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}