.App {
  text-align: center;
}

.drag-zone{
  display: flex;
  justify-content: center;
}

.container{
  border: 1px solid black;
  width: 10%;
}

.WorkflowEditor {
  border: 2px solid black;
  height: 200px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}